.vscode
_site
.DS_Store
.sw[a-z]
 
workshops/archive/journey1-self-service-bi/DVData/CitiBikeOffline.zip.001
workshops/archive/journey1-self-service-bi/DVData/CitiBikeOffline.zip.002
common/testing/help-demo/
 
.terraform
*tfstate*
data-management-library/autonomous-database/autonomous-data-warehouse/images/400/substitution_variable.jpg
GitHub Oracle Learning Library Clone - Shortcut.lnk
data-management-library/autonomous-database/autonomous-data-warehouse_PRIOR TO SQLDEV WEB STREAMLINING.zip
.idea/ 
*.iml
data-management-library/autonomous-database/shared/adb-auto-scaling/images/send to Nilay.png
